.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 104px;
  padding: 0 64px;
  background-color: var(--white-color);
  gap: 16px;

  &__logo {
    flex: 2;
  }

  &__logo img {
    max-height: 40px;
  }

  &__nav {
    display: flex;
    gap: 24px;
    text-transform: uppercase;
  }

  &__nav-item {
    font-weight: 500;
    &:hover {
      text-decoration: underline;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    flex: 1;
  }

  &__callback {
    opacity: 0.3;
  }

  &__actions {
    display: flex;
    gap: 16px;
  }

  &__action--cart {
    background-color: var(--secondary-color);
    padding: 4px 8px;
    border-radius: 50%;
  }

  &__burger,
  .filters-open-btn {
    display: none;
  }
}

.breadcrumbs {
  display: flex;
  gap: 12px;
  padding: 0 64px;
  width: 100%;
  position: absolute;
  top: 136px;
  z-index: 10;

  &__list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style-type: none;
  }

  &__item:not(:first-child) {
    list-style-type: disc;
    opacity: 0.5;
  }

  &__item {
    color: var(--white-color);
    text-decoration: none;
  }

  &__item-link {
    color: var(--white-color);
    text-decoration: none;
    font-size: 10px;
    text-transform: uppercase;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}

.mobile-header {
  display: none;
}

.slider-section {
  .swiper {
    display: flex;
    justify-content: center;
  }

  .swiper__slide {
    &--first,
    &--second,
    &--third,
    &--fourth,
    &--fifth {
      background-image: url('../img/rectangle-6450.webp');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: var(--black-color);
      height: 560px;
      display: flex;
      align-items: center;
      justify-content: center;

      .swiper__text-header {
        max-width: 472px;
        text-align: center;
        h1 {
          font-weight: 400;
          font-size: 48px;
          color: var(--white-color);
        }

        p {
          font-size: 16px;
          color: var(--white-color);
        }
      }
    }
  }

  .swiper__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: var(--black-color);
    padding: 16px;
    border-radius: 50px;
    opacity: 0.3;
    margin: 0 auto 39px;
    max-width: 200px;
    left: unset !important;

    .swiper-pagination-bullet {
      background-color: var(--white-color);
      opacity: 0.3;
      transition: opacity 0.3s ease;

      &.swiper-pagination-bullet-active {
        opacity: 1;
      }
    }
  }

  .swiper__button-prev,
  .swiper__button-next {
    background: none;
    padding: 0 64px;
  }
  .swiper__button-prev::after,
  .swiper__button-next::after {
    color: var(--white-color);
  }
}

.main-content {
  display: flex;
  padding: 0 64px;
  margin-top: 72px;
}

.products-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .filters-open-btn {
    display: none;
  }

  .counter {
    text-transform: uppercase;
    font-size: 12px;
  }

  .sorting {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;

    &__button {
      display: flex;
      align-items: center;
      gap: 8px;
      background: none;
      border: none;
      padding: 8px 16px;
      cursor: pointer;
      font-size: 14px;
      transition: all 0.3s ease;
      text-transform: uppercase;

      &::after {
        content: '▼';
        font-size: 12px;
        transition: transform 0.3s ease;
      }

      &[aria-expanded='true']::after {
        transform: rotate(180deg);
      }
    }

    &__popup {
      display: none;
      position: fixed;
      top: 45%;
      left: 85%;
      transform: translate(-50%, -50%);
      background: var(--white-color);
      z-index: 100;
      min-width: 280px;
      max-height: 80vh;
      overflow-y: auto;

      &[data-visible='true'] {
        display: block;
      }
    }

    &__option {
      display: block;
      width: 100%;
      padding: 16px;
      text-align: left;
      background: none;
      border: none;
      cursor: pointer;
      font-size: 12px;
      text-transform: uppercase;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: #f5f5f5;
      }

      &[data-selected='true'] {
        background-color: var(--secondary-color);
        color: var(--black-color);
      }
    }
  }
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-right: 138px;

  &__switcher-container {
    display: flex;
    gap: 12px;
    align-items: center;
    text-transform: uppercase;
    height: 22px;
  }

  &__switcher {
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px 0;

    &--default {
      cursor: pointer;
      user-select: none;

      input[type='checkbox'] {
        display: none;
      }

      .filters__switcher--indicator {
        width: 36px;
        height: 22px;
        background-color: var(--primary-color);
        border-radius: 50px;
        position: relative;
        transition: background-color 0.3s ease;

        &::before {
          content: '';
          width: 8px;
          height: 8px;
          background-color: var(--black-color);
          border-radius: 50%;
          position: absolute;
          top: 7px;
          left: 7px;
          transition: transform 0.3s ease;
        }
      }

      input[type='checkbox']:checked + .filters__switcher--indicator {
        background-color: var(--secondary-color);
      }

      input[type='checkbox']:checked + .filters__switcher--indicator::before {
        transform: translateX(14px);
      }
    }

    label {
      margin-left: 10px;
      color: var(--text-color);
    }

    span.filters__switcher--label {
      margin-left: 5px;
      font-size: 12px;
      color: var(--text-color);
      white-space: nowrap;
    }
  }
}

.add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 32px;
  background-color: var(--secondary-color);
  border-radius: 8px;
  transition: 0.3s ease;
  opacity: 0;
}

.add-to-cart:active {
  transform: scale(0.9);
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 1000;

  &--right {
    .modal__overlay {
      background: rgba(0, 0, 0, 0.5);
      transition: opacity 0.3s ease;
    }

    .modal__content {
      position: fixed;
      top: 0;
      right: -600px;
      width: 600px;
      height: 100vh;
      margin: 0;
      padding: 24px;
      border-radius: 0;
      transform: none;
      display: flex;
      gap: 8px;
      flex-direction: column;
      transition: right 0.3s ease-out;
      background: var(--white-color);
      box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);

      .modal__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .modal__title {
          margin: 0;
          font-size: 30px;
          font-weight: 500;
        }

        .modal__close {
          background: none;
          border: none;
          font-size: 24px;
          cursor: pointer;
          padding: 0;
          line-height: 1;
          color: var(--text-color);
          border: 1px var(--disabled-color) solid;
          border-radius: 50%;
          padding: 8px 14px;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            color: var(--secondary-color);
          }
        }
      }

      .cart-summary {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
      }

      .clear-cart {
        font-size: 14px;
        cursor: pointer;
        color: var(--disabled-color);
      }

      .cart-items {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 16px;
        overflow-y: auto;

        .cart-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-top: 1px solid var(--disabled-color);

          &__img {
            width: 96px;
            height: 96px;
            object-fit: cover;
          }

          &__info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            gap: 16px;
            flex: 2;
          }

          &__remove {
            background: none;
            border: none;
            font-size: 24px;
            cursor: pointer;
            padding: 0;
            line-height: 1;
            color: var(--disabled-color);

            &:hover {
              color: var(--secondary-color);
            }
          }

          &__qty {
            display: flex;
            align-items: center;
            gap: 16px;
            flex: 1;

            .qty-btn {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 40px;
              height: 24px;
              background: var(--primary-color);
              border-radius: 4px;
              cursor: pointer;
              transition: background-color 0.3s ease;
            }
          }
        }
      }

      .cart-total {
        padding: 20px 24px;
        font-size: 18px;
        font-weight: 500;
      }

      .modal__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 24px;

        .confirm-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 240px;
          height: 56px;
          background: var(--secondary-color);
          border-radius: 4px;
          font-size: 12px;
          text-transform: uppercase;
          cursor: pointer;
          transition: background-color 0.3s ease;
        }
      }
    }

    &.open {
      display: block;

      .modal__content {
        right: 0;
      }
    }
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &__content {
    position: relative;
    margin: auto;
    background: var(--white-color);
    padding: 24px;
    max-width: 90%;
    overflow: auto;
    border-radius: 8px;
  }

  &.open {
    display: flex;
    justify-content: center;
    align-items: center;

    .modal__overlay {
      opacity: 1;
    }
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 24px;
  margin-top: 40px;

  &__item {
    max-width: 278px;
    width: 100%;
    padding: 16px 4px;
    transition: 0.3s ease;
    border-bottom: 1px solid var(--primary-color);

    &:hover {
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      .add-to-cart {
        opacity: 1;
      }
    }

    &--info {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }

    &--image {
      width: 100%;
      height: auto;
    }

    &--name {
      margin: 10px 0 5px;
      font-weight: 300;
    }

    &--price {
      color: var(--text-color);
      font-weight: bold;
    }
  }
}

.footer {
  background-color: var(--black-color);
  height: 312px;
}

.sort-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;
  opacity: 0;
  transition: opacity 0.3s ease;

  &[data-visible='true'] {
    display: block;
    opacity: 1;
  }
}

body.sort-popup-open {
  overflow: hidden;
  height: 100vh;
}

@media (max-width: 1280px) {
  .header__nav {
    display: none;
  }
  .header__burger {
    display: inline-flex !important;
  }
}

@media (max-width: 768px) {
  .header__logo {
    flex: 1;
  }
  .header__contacts {
    flex: unset;
  }
  .filters-open-btn {
    text-transform: uppercase;
    display: inline-flex !important;
  }

  .header__nav,
  .header__action--search,
  .header__action--profile,
  .header__action--wishlist,
  .filters,
  .controls__counter {
    display: none !important;
    visibility: hidden !important;
  }

  .header__actions .header__action:not(.header__action--cart) {
    display: none !important;
  }

  .header__action--cart {
    display: flex !important;
  }

  .modal--bottom {
    align-items: flex-end;
    .modal__content {
      width: 100%;
      height: 70%;
      max-height: none;
      border-radius: 16px 16px 0 0;
      transform: translateY(130%);
      transition: transform 0.35s ease-out;
      padding: 0 24px;
      display: flex;
      flex-direction: column;
      max-width: 100%;
      justify-content: flex-end;
      margin: 0;

      .modal__close {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--dark-gray-color);
        width: 28px;
        height: 4px;
        border-radius: 2px;
        margin: 38px auto;
      }
    }

    &.open {
      display: flex;
      .modal__content {
        transform: translateY(22%);
      }
    }

    .filters--mobile {
      flex: 1;
      overflow-y: auto;
      padding-right: 8px;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
}

@media (max-width: 480px) {
  .header {
    padding: 0 24px;
    border-bottom: 1px solid var(--primary-color);
    &__logo {
      flex: unset;
    }
  }
  .slider-section,
  .header__contacts {
    display: none;
  }
  .breadcrumbs {
    position: unset;
    padding: 0 24px;

    &__item-link,
    &__item {
      color: var(--disabled-color);
      opacity: 1;
    }
  }

  .mobile-header__title {
    font-size: 32px;
    font-weight: 400;
    padding: 0 24px;
  }
  .main-content {
    margin-top: unset;
    padding: 0 24px;
  }

  .products {
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));

    &__item {
      max-width: 156px;
      height: auto;
    }
    &__image {
      width: 112px;
      height: 112px;
    }
  }

  .add-to-cart {
    opacity: 1;
    width: 40px;
    height: 24px;
    background-color: var(--disabled-color);
  }
  .modal--right .modal__content {
    padding: 12px;
  }
  .modal--right .modal__content .cart-items .cart-item__qty {
    gap: 8px;
  }
  .modal--right .modal__content .modal__footer,
  .modal--right .modal__content .cart-total {
    padding: 6px;
  }
}
