@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  /* Colors */
  --primary-color: #E5E5E5;
  --secondary-color: #7BB899;
  --accent-color: #e74c3c;
  --background-color: #fff;
  --text-color: #333;
  --link-color: #333;
  --hover-color: #7BB899;
  --active-color: #e74c3c;
  --disabled-color: #cccccc;
  --white-color: #fff;
  --black-color: #000;
  --gray-color: #333;
  --light-gray-color: #f1f1f1;
  --dark-gray-color: #666;
  /* Fonts */
  --font-family: 'Inter', Arial, sans-serif;
  /* Effects */
}

